<template>
    <div class="comment">
        <span class="avatar">
            <img class="avatar" v-bind:src="comment.user.avatarUrl">
        </span>

        <div class="content">
            <!--<span style="color:#ccc">[{{ rid }}/{{ comment.id }}/{{ pid }}]</span>-->
            <span class="author">{{ comment.user.name }}</span>
            <div class="metadata">
                <datetime :created="comment.date.created" :updated="comment.date.updated"></datetime>
            </div>
            <div class="text">{{ comment.text }}</div>
            <div class="actions">
                <div class="meta" style="font-size: 0.9em;">
                    <a class="reply" @click="switchReplyForm">{{ replyBtn }}</a>
                    <!--<a class="reply" @click="actionEditComment(comment)" v-if="isAuthorRecord(comment)">Edit</a>-->
                    <a class="reply" @click="actionDeleteComment(comment)" v-if="isAuthorRecord(comment)">Delete</a>
                    <like :likeUsers="comment.likeUserIds" :auth="auth"
                          v-bind:changeable="!isAuthorRecord(comment)"
                          v-on:like="toggleLikeWallCommnet(comment)"></like>
                </div>
            </div>
        </div>

        <div class="comments"  v-if="comment.comments && comment.comments.length || showReplyForm">
            <comment
                    v-for="commentObject in comment.comments"
                    v-bind:comment="commentObject"
                    v-bind:auth="auth"
                    v-bind:rid="rid"
                    v-bind:pid="comment.id"
                    @beforeOpenReplyComment="childrenOpenReplyForm"
                    @afterDeleteComment="deleteCommentHandler($event)"
            ></comment>

            <form class="ui reply form" v-show="showReplyForm"
                  v-on:keydown.enter="handleCmdEnter(comment, $event)"
            >
                <div class="field">
                    <textarea v-model="form.input"></textarea>
                </div>
                <div v-on:click="submitReplyForm(comment)" class="ui positive submit labeled icon button">
                    <i class="icon edit"></i> Add Reply
                </div>
                <div v-on:click="switchReplyForm(comment)" class="ui deny submit button">
                    Cancel
                </div>
            </form>
        </div>
    </div>
</template>

<style>
    .ui.comments .reply.form textarea {
        height: 6em;
    }

    .ui.comments .comment .comments {
        margin-bottom: 0;
        padding-bottom: 0;
    }
</style>

<script>
    export default {
        props: ['comment', 'rid', 'pid', 'auth'],
        data: () => {
            return {
                showReplyForm: false,
                form: {
                    input: ''
                }
            }
        },
        watch: {
            'showReplyForm': function (val, oldVal) {

                //Scroll to bottom

                if(val) {
                    $(this.$el).scrollView();
                }
            },
        },
        methods: {
            isAuthorRecord: function (comment) {
                return comment.user.id == this.auth.id;
            },

            handleCmdEnter: function(comment, e) {
                if (e.metaKey || e.ctrlKey) {
                    this.submitReplyForm(comment);
                }
            },

            ////////////////////
            // create sub-comment
            switchReplyForm: function() {
                this.clearSelfForm()
                this.$emit('beforeOpenReplyComment')
                this.showReplyForm = !this.showReplyForm
            },
            childrenOpenReplyForm: function(){
                this.showReplyForm = false;
            },
            clearSelfForm: function() {
                // clear fields
                this.form.input = '';
                // remove error messages
            },
            submitReplyForm: function(comment) {

                if (this.isFormLoading) return;

                var value = this.form.input && this.form.input.trim()

                if (!value) {
                    this.isFormLoading = false
                    this.clearSelfForm();
                    return;
                }

                this.isFormLoading = true;

                this.resource.save({commentId: comment.id}, {text: value})
                    .then(function (response) {

                        this.isFormLoading = false
                        this.clearSelfForm();
                        this.showReplyForm = false;

                        comment.comments.push(response.data.data);
                        Notifier.response(response.data);

                    }, function (error) {

                        this.isFormLoading = false
                        Notifier.response(error.data);
                    });
            },

            // actions
            actionEditComment: () => {
            },
            actionDeleteComment: function(comment) {

                if (!comment || !this.comment.comments) return;

                this.$emit('beforeDeleteComment', comment);

                this.resource.delete({commentId: comment.id}, {})
                    .then(function (response) {

                        if(response.data.success) {
                            this.$emit('afterDeleteComment', comment);
                        }

                        Notifier.response(response.data);
                    }, function (error) {
                        Notifier.response(error.data);
                    });
            },
            deleteCommentHandler: function(comment) {

                if (!comment || !this.comment.comments) return;

                this.comment.comments.splice(
                    this.comment.comments.indexOf(comment), 1
                );
            },

            // like comment
            toggleLikeWallCommnet: function (comment) {

                if (!comment) return;

                this.resource.toggleLike({commentId: comment.id}, {})
                    .then(function (response) {
                        Notifier.response(response.data);
                    }, function (error) {
                        Notifier.response(error.data);
                    });
            }
        },
        computed: {
            resource: function () {
                return this.$resource('/api/wall{/recordId}/comments{/commentId}', {
                    recordId: this.rid
                }, {
                    toggleLike: { method: 'POST', url: '/api/wall{/recordId}/comments{/commentId}/like-toggle' },
                })
            },
            replyBtn: function () {
                return !this.showReplyForm ? 'Reply' : 'Cancel reply';
            }
        }
    }
</script>
