<template>
    <div class="item">

        <modal v-show="editingMode.showModal"
               v-on:close="onCloseModalHandler(this)"
               v-bind:bindInProgress="editingMode.isFormLoading"
               v-bind:id="'wp' + post.id"
               class="edit-record">
            <h5 slot="header">Editing wall record #{{ editingMode.form.id }}</h5>

            <div slot="body" class="ui form">
                <div class="field">
                    <input type="hidden" name="identity" value="editingMode.form.id">
                    <textarea rows="4" v-model="editingMode.form.text"></textarea>
                </div>
                <!--<div class="ui horizontal divider">Or / And</div>-->
                <!--<div class="field">-->
                <!--<input class="jFiler-input-dragDrop" id="jFiler-input-dragDrop"-->
                <!--type="file" name="files[]" multiple="multiple">-->
                <!--</div>-->
            </div>

            <div slot="footer" class="ui deny button">Cancel changes</div>
            <div slot="footer" class="ui approve green button">Apply changes</div>

        </modal>

        <div class="ui tiny image">
            <img v-bind:src="post.user.avatarUrl">

            <span style="color: rgba(0, 0, 0, .2);">#{{ post.id || '?' }}</span>
        </div>
        <div class="content">

            <div class="actions post-btns" style="text-align:right;">
                <a class="reply" v-on:click="actionReplyPost(post)">{{ replyBtn }}</a>
                <a class="reply" v-on:click="actionEditPost(post)" v-if="isAuthorRecord(post)">Edit</a>
                <a class="reply" v-on:click="actionDeletePost(post)" v-if="isAuthorRecord(post)">Del</a>
            </div>

            <span class="header">{{ post.user.name }}</span>

            <div class="metadata">
                <datetime :created="post.date.created" :updated="post.date.updated"></datetime>
            </div>

            <!--Text-->
            <div class="description"
                 v-if="post.content && post.content.text.length"
                 v-html="post.content.text"></div>

            <!--Images-->
            <div class="extra images"
                 v-if="post.content && post.content.images.length">
                <a v-for="img in post.content.images"><img :src="img"></a>
            </div>

            <div class="meta" style="font-size: 0.8em;">
                <not-interest
                        v-if="!isAuthorRecord(post)"
                        v-on:accept="notInterestWallRecord(post)">
                </not-interest>
                <like :likeUsers="post.likeUserIds" :auth="auth"
                      v-bind:changeable="!isAuthorRecord(post)"
                      v-on:like="toggleLikeWR(post)"></like>
            </div>

            <!--<postComments :comments="post.comments"></postComments>-->

            <div class="ui comments" v-if="post.comments && post.comments.length || creatingCommentMode.showReplyForm">
                <h3 class="ui dividing header">Comments</h3>

                <comment v-for="comment in post.comments"
                         v-bind:comment="comment"
                         v-bind:auth="auth"
                         v-bind:rid="post.id"
                         v-bind:pid="null"
                         v-on:deleteComment="actionDeleteComment(comment)"
                ></comment>

                <form class="ui reply form" v-show="creatingCommentMode.showReplyForm">
                    <div class="field">
                        <textarea v-model="creatingCommentMode.form.input"></textarea>
                    </div>
                    <div v-on:click="submitReplyForm(post)" class="ui positive submit labeled icon button">
                        <i class="icon edit"></i> Add Reply
                    </div>
                    <div v-on:click="actionReplyPost(post)" class="ui deny submit button">
                        Cancel
                    </div>
                </form>

            </div>

        </div>
    </div>
</template>

<style>
        .ui.items .item .content .actions {
            font-size: 0.875em;
        }

        .ui.items .item .content .actions a {
            cursor: pointer;
            display: inline-block;
            margin: 0 .75em 0 0;
            color: rgba(0, 0, 0, .4);
        }

        .ui.items .item .content .metadata {
            display: inline-block;
            margin-left: .5em;
            color: rgba(0, 0, 0, .4);
            font-size: .875em;
        }

        .ui.items .item .content .extra.images img {
            display: inline-block;
            margin: 0 .25em 0 0;
            width: 6em;
        }



</style>

<script>
    export default {
        data: () => {
            return {
                /** edit post data */
                editableRecord: null,
                editingMode: {
                    showModal: false,
                    el: null,
                    isFormLoading: false,
                    form: {
                        text: "",
                        images: ""
                    }
                },

                /** create comment data */
                creatingCommentMode: {
                    showReplyForm: false,
                    isFormLoading: false,
                    form: {
                        input: ''
                    }
                }
            };
        },
        props: ['post', 'auth'],
        watch: {
            'creatingCommentMode.showReplyForm': function (val, oldVal) {

                //Scroll to bottom

                if(val) {
                    $(this.$el).scrollView();
                }
            }
        },
        created: function () {

            self = this;

             _.forIn(this.getEventHandlers(), function (handler, eventName) {

                // wall record
                self.$root.echo
                    .channel('wall-records')
                    .listen('.App.Events.' + eventName, function (eventName) {
                            return handler(eventName)
                        }
                    );
            });
        },
        methods: {
            isAuthorRecord: function (post) {
                return post.user.id == this.auth.id;
            },
            _updateWallRecord: function (post) {
                this.post.content.text = post.content.text;
            },

            ////////////////////
            // post actions
            actionEditPost: function (post) {

                if (!this.editingMode.el) {
                    this.editingMode.el = $('.modal.edit-record' + '#wp' + post.id).eq(0);

                    if (post) {

                        this.editingMode.el
                            .modal({
                                closable: false,
                                onDeny: this.onDenyModalHandler,
                                onApprove: this.onApproveModalHandler,
                                onShow: this.onShowModalHandler
                            })
                    }
                }

                if (this.editingMode.el) {

                    this.editableRecord = post;
                    this.editingMode.form.id = this.editableRecord.id;
                    this.editingMode.form.text = this.editableRecord.content.text;
                    this.editingMode.el.modal('show');

                    // this.showModal = true;
                }
            },
            clearEditPostForm: function() {

                // clear fields
                this.form = {
                    text: '',
                    images: []
                };
            },
            actionDeletePost: function (post) {

                if (!post) return;

                this.resource.delete({id: post.id})
                    .then(function (response) {
                        this.$emit('delete-wall-post', post);
                        Notifier.response(response.data);
                    }, function (error) {
                        Notifier.response(error.data);
                        this.isListLoading = false;
                    });
            },
            actionDeleteComment: function (comment) {
                console.log("wall.actionDeleteComment: emit delete comment #" + comment.id);
            },
            actionReplyPost: function (post) {
                this.clearCreateCommentForm()
                this.$emit('beforeOpenReplyComment', post)
                this.creatingCommentMode.showReplyForm = !this.creatingCommentMode.showReplyForm
            },


            ////////////////////
            // not interest
            notInterestWallRecord: function (post) {

                if (!post) return;

                return this.$http.post('/api/wall/' + post.id + '/interest')
                    .then(function (response) {
                        this.$emit('not-interest-wall-post', post);
                        Notifier.response(response.data);
                    }, function (error) {
                        Notifier.response(error.data);
                    });
            },

            ////////////////////
            // like wall record
            toggleLikeWR: function (post) {

                if (!post) return;

                return this.$http.post('/api/wall/' + post.id + '/like-toggle')
                    .then(function (response) {
                        Notifier.response(response.data);
                    }, function (error) {
                        Notifier.response(error.data);
                    });
            },

            ////////////////////
            // create comment
            childrenOpenReplyForm: function () {
                this.creatingCommentMode.showReplyForm = false;
            },
            clearCreateCommentForm: function () {

                // clear fields
                // todo: remove error messages
                this.creatingCommentMode.form = {
                    input: ''
                };
            },
            submitReplyForm: function (post) {

                if (this.creatingCommentMode.isFormLoading) return;

                var value = this.creatingCommentMode.form.input && this.creatingCommentMode.form.input.trim()

                if (!value) {
                    this.clearCreateCommentForm();
                    this.creatingCommentMode.isFormLoading = false
                    return;
                }

                this.creatingCommentMode.isFormLoading = true;

                this.$http.post("/api/wall/" + this.post.id + "/comments", {text: value})
                    .then(function (response) {

                        this.clearCreateCommentForm();
                        this.creatingCommentMode.isFormLoading = false
                        this.creatingCommentMode.showReplyForm = false;

                        post.comments.push(response.data.data);
                        Notifier.response(response.data);

                    }, function (error) {

                        this.creatingCommentMode.isFormLoading = false
                        Notifier.response(error.data);
                    });
            },

            ////////////////////
            // MODAL HANDLERS
            onDenyModalHandler: function () {
            },
            onApproveModalHandler: function (e) {

                if (this.editingMode.isFormLoading) return;
                this.editingMode.isFormLoading = true;

                var value = this.editingMode.form.text && this.editingMode.form.text.trim()

                if (!value) {
                    this.clearEditPostForm();
                    this.editingMode.isFormLoading = false;
                    return
                }

                this.resource.update({id: this.editableRecord.id}, this.editingMode.form)
                    .then(
                        function (response) {

                            if (response.data.success) {
                                // update content form (text todo: & images)
                                this.editableRecord.content = response.data.data.content;
                                this.editableRecord.date.updated = response.data.data.date.updated;
                            }

                            this.clearEditPostForm();
                            this.editingMode.isFormLoading = false
                            Notifier.response(response.data);
                        }, function (error) {

                            this.clearEditPostForm();
                            this.editingMode.isFormLoading = false
                            Notifier.response(error.data);
                        }
                    );
            },
            onShowModalHandler: function (context, data) {
            },
            onCloseModalHandler: function (context, data) {
            },

            getEventHandlers: function () {

                var self = this;

                return {
                    'WallRecordWasUpdated': function (data) {
                        if(self.post.id !== data.wallRecord.id)
                            return;

                        self._updateWallRecord(data.wallRecord)
                    },
                    'WallRecordWasLiked': function (data) {
                        if(self.post.id !== data.wallRecord.id)
                            return;

                        if(data.state)
                            self.post.likeUserIds.push(data.user.id);
                        else
                            self.post.likeUserIds.splice(self.post.likeUserIds.indexOf(data.user.id),1);
                    }
                }
            }
        }, // end methods
        computed: {
            resource: function () {
                return this.$resource('/api/wall/{id}')
            },
            replyBtn: function () {
                return !this.creatingCommentMode.showReplyForm ? 'Reply' : 'Cancel reply';
            }
        },
        components: {
        }
    }
</script>