<template>
    <div id="wall-page">

        <div id="createPost" style="margin: 2em 0em;">

            <div class="ui raised secondary segment" v-bind:class="inProgressClass">

                <h5>Publish new record</h5>

                <div class="ui bottom left attached label">
                    Ctrl/Cmd + Enter
                </div>

                <form class="ui form" action="/wall" method="post" v-on:keydown.enter="handleCmdEnter">
                    <div class="field">
                        <textarea placeholder="Add your two cents" rows=4
                                  v-model="form.text" v-bind:readonly="isFormLoading"></textarea>
                    </div>

                    <!--<div class="ui horizontal divider">Or / And</div>-->
                    <!--<div class="field">-->
                    <!--<input class="jFiler-input-dragDrop" id="jFiler-input-dragDrop"-->
                    <!--type="file" name="files[]" multiple="multiple">-->
                    <!--</div>-->

                    <div class="ui positive right floated button"
                         v-on:click="addRecord"
                         :class="{ 'disabled' : canCreateRecord }"
                         v-show="!isFormLoading">
                        Create record <i class="right chevron icon"></i>
                    </div>
                </form>
            </div>

        </div>

        <div id="wall-list">

            <div class="ui">

                <div class="ui text menu" style="margin-bottom: 0em">
                    <div class="header item">Sort By</div>
                    <a v-for="(orderItem, index) in order.list"
                       :class="[{ 'active' : (index == order.cur) }, 'item']"
                       v-on:click="changeOrderByOn(orderItem)">{{ orderItem.title }}</a>

                    <div class="header item right floated" v-show="countTotal">
                        {{ countTotal }} records
                    </div>

                    <div class="header item right floated" v-show="!countTotal">
                        No records
                    </div>
                </div>

                <div class="ui divider" style="margin-top: 0em;"></div>

            </div>

            <div class="ui divided items" id="context">

                <!--iterate wall record-->
                <wall-record v-for="post in itemsSorted"
                             v-on:delete-wall-post="afterDeleteWR($event)"
                             v-on:not-interest-wall-post="afterAddNotInterestWR($event)"
                             :key="post.id"
                             :auth="auth"
                             :post="post"
                ></wall-record>

                <h5 class="ui disabled center aligned header" v-if="!itemsSorted.length">
                    WALL IS EMPTY
                    <div class="sub header">🤗 enjoy 🤗</div>
                </h5>

            </div>
        </div>

    </div>
</template>

<style>
    .createPost input[type=file] {
        margin: 1em 0;
    }
</style>

<script>
    export default {
        data: function () {
            return {
                auth: {},
                isFormLoading: false,
                isListLoading: false,
                order: {
                    list: {
                        "created": {
                            name: "created",
                            title: "Date",
                            field: function (item) {
                                return item.date.updated ? item.date.updated : item.date.created;
                            },
                            direction: "desc"
                        },
                        "like": {
                            name: "like",
                            title: "Like",
                            field: function (item) {
                                return item.likeUserIds.length;
                            },
                            direction: "desc"
                        }
                    },
                    cur: null,
                    default: "created"
                },
                countTotal: 0,
                items: [],
                form: {
                    text: "",
                    images: ""
                },
            }
        },
        created: function () {

            if (!this.order.cur) {
                this.order.cur = this.order.default;
            }

            self = this;

             _.forIn(this.getEventHandlers(), function (handler, eventName) {

                // wall
                // debugger

                self.$root.echo
                    .channel('wall-records')
                    .listen('.App.Events.' + eventName, function (eventName) {
                            return handler(eventName)
                        }
                    );
            });

            this.loadAllRecords()
        },
        methods: {
            /**
             * fn add item to list items (list wall record)
             * @param item
             */
            _pushItemToList: function(item) {
                this.items.push(item)
                this.countTotal++
            },
            /**
             * fn remove from list items (list wall record) one item
             * @param item
             */
            _removeItemFromList: function (item) {

                if (!this.items.length || !item) return;

                this.items.splice(this.items.indexOf(item), 1);
                this.countTotal--;
            },
            /**
             * fn remove from list items (list wall record) one item by it ID
             * @param item
             */
            _removeItemFromListById: function (id) {

                if (!this.items.length || !id) return;

                var removeIndex = _.findKey(this.items, ['id', id])

                if(!!removeIndex) {
                    this.items.splice(removeIndex, 1);
                    this.countTotal--;
                }
            },

            /**
             * Load list & order list WR
             */
            loadAllRecords: function (order) {

                this.isListLoading = true;

                var orderParam = {}

                if (order) {

                    // debugger

                    orderParam = {
                        order: this.order.list[order.name].name
                    }
                }

                this.resource.get(orderParam)
                    .then(
                        function (response) {
                            if (response.data && response.data.success)
                                this.items = response.data.data.items;
                            this.countTotal = response.data.data.countTotal;

                            this.isListLoading = false;
                            Notifier.response(response.data);

                        }, function (error) {

                            this.isListLoading = false;
                            Notifier.response(error.data);
                        }
                    );
            },
            changeOrderByOn: function (orderItem) {

                // debugger

                if (this.isListLoading || orderItem && this.order.cur === orderItem.name) {
                    return;
                }

                this.loadAllRecords(orderItem)
                this.order.cur = orderItem.name;

            },

            /**
             * Create new WR
             */
            handleCmdEnter: function (e) {
                if (e.metaKey || e.ctrlKey) {
                    this.addRecord();
                }
            },
            addRecord: function () {

                if (this.isFormLoading) return;

                var value = this.form.text && this.form.text.trim()

                if (!value) {
                    this.clearAddRecordForm();
                    return
                }

                this.isFormLoading = true;

                this.resource.save(this.form)
                    .then(
                        function (response) {

                            if (response.data.success) {
                                // this.items.unshift(response.data.data);
                                // this.countTotal++
                                this._pushItemToList(response.data.data)
                            }

                            this.clearAddRecordForm();
                            this.isFormLoading = false;
                            Notifier.response(response.data);

                        }, function (error) {

                            this.clearAddRecordForm();
                            this.isFormLoading = false
                            Notifier.response(error.data);
                        }
                    );
            },
            clearAddRecordForm: function () {
                this.form = {
                    text: '',
                    images: []
                };
            },

            /**
             * Handler of Event: delete-wall-post
             * @param post
             */
            afterDeleteWR: function (post) {
                this._removeItemFromList(post)
            },
            /**
             * Handler of Event: not-interest-wall-post
             * @param post
             */
            afterAddNotInterestWR: function (post) {
                this._removeItemFromList(post)
            },

            getEventHandlers: function () {

                var self = this;

                return {
                    'WallRecordWasCreated': function (data) {

                        if(data && data.wallRecord) {
                            self._pushItemToList(data.wallRecord)
                        }
                    },
                    'WallRecordWasDeleted': function (data) {

                        if(data && data.wallRecord) {
                            self._removeItemFromListById(data.wallRecord.id)
                        }
                    }
                }
            }
        },
        computed: {
            /**
             * Get instance auth user
             * @returns {*}
             */
            auth: function () {
                return window.auth;
            },
            resource: function () {
                return this.$resource('/api/wall/{id}')
            },
            itemsSorted: {
                cache: false,
                get: function () {

                    return _.orderBy(
                        this.items,
                        this.order.list[this.order.cur].field,
                        this.order.list[this.order.cur].direction
                    );
                }
            },
            canCreateRecord: function () {

                // TODO : add image upload condition
                return !this.form.text.length;
            },
            inProgressClass: function () {
                return {
                    'loading': this.isFormLoading,
                    'clearing': !this.isFormLoading
                }
            }
        },
        components: {
            // wall: require('./components/Wall.vue'),
            // postComments: require('./components/PostComments.vue')
        }
    }







</script>