<template>
    <a class="like"
       v-on:click="toggleMyLike"
       v-bind:class="{ 'my-like': likeAuth, 'disable': !changeable }"
    >
        <i class="like icon"></i> {{ textBtn }}
    </a>
</template>

<style>
    .ui.items>.item .meta>a:not(.ui):hover {
        color: rgba(0,0,0,.4);
    }
    .ui.items>.item .meta>a.my-like:not(.ui) {
        color: rgba(0,0,0,.87);
    }

    .like.disable:hover, .like.disable .like.icon:hover {
        cursor: default !important;
        opacity: auto !important;
        color: auto !important;
    }
</style>

<script>
    export default {
        props: ['changeable', 'likeUsers', 'auth'],
        methods: {
            toggleMyLike: function() {

                if(!this.changeable) return;

                if(this.likeAuth)
                    this.likeUsers.splice(this.likeUsers.indexOf(this.auth.id), 1);
                else
                    this.likeUsers.push(this.auth.id);

                this.$emit('like')
            }
        },
        computed: {
            count: function () { return this.likeUsers.length; },
            textBtn: function () {
                if(this.count) {
                    return this.count + ' Likes'
                }

                return 'No likes'
            },
            likeAuth: function() {
                return this.likeUsers.includes(this.auth.id)
            }

        }
    }
</script>
