<template>
    <transition name="modal">
        <div v-on:keydown.enter="$emit('close')"
             class="ui small second coupled modal edit-record" style="display: none;">

            <div class="header">
                <slot name="header">default header</slot>
            </div>

            <div class="content">
                <slot name="body">
                    default body
                </slot>
            </div>

            <div class="actions">
                <slot name="footer">
                    <button class="ui approve button">
                        <i class="checkmark icon"></i> Ok
                    </button>
                </slot>
            </div>
        </div>
    </transition>
</template>

<style>
    .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}









</style>

<script>
    export default { }
</script>